asgiref==3.8.1
channels==4.1.0
ctcdecode==1.0.2
Django==5.0.6
efficientnet_pytorch==0.7.1
higher==0.2.1
librosa==0.10.2.post1
lmdb==1.4.1
matplotlib==3.9.0
nltk==3.8.1
numpy==1.26.4
omegaconf==2.3.0
OpenAttack==2.1.1
OpenHowNet==2.0
pandas==2.2.2
Pillow==10.3.0
protobuf==5.27.1
pyinflect==0.5.1
pywsd==1.2.5
PyYAML==6.0.1
Requests==2.32.3
scikit_learn==1.5.0
scipy==1.13.1
six==1.16.0
tabulate==0.9.0
tensorflow==2.16.1
torch==2.3.1
torch_ecg==0.0.28
torchaudio==2.3.1
torchnlp==0.0.0.1
torchtext==0.18.0
torchvision==0.18.1
tqdm==4.66.4
transformers==4.41.2
