{% load static %}

<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
 
    <script src="https://cdn.jsdelivr.net/npm/@antv/g2@4.1.10/dist/g2.min.js"></script>


</head>


<body> 
    <header>
        <a href="#" class="logo">
            <img src="{% static 'image/logo3.png' %}" alt="ModelOasis Logo">
            ModelOasis
        </a>
        
        <nav class="navbar">
                <a href="/index">首页</a></li>
                <a href="/cv" class="active">图像模型</a></li>
                <a href="/nlp">语言模型</a></li>
                <a href="/audio">语音模型</a></li>

        </nav>

    </header>
    <script>
       
    </script>
    <aside class="sidebar">
        <h3>首页</h3>
        <ul>
            <li><a href="#introduction"  class="active">使用说明</a></li>
            <li><a href="#setting" >参数设定</a></li>
            <li><a href="#report" >生成报告</a></li>

        </ul>
    </aside>
    <!-- introduction section starts -->
    <section class="introduction" id="introduction">
        <h1 class="section-title">使用说明</h1>
        <div class="introduction-container">
            <div class="markdown-content" id="markdown-content">
            </div>
        </div>
    </section>

  

    <section class="setting" id="setting">
        <h1 class="section-title">上传模型</h1>
        <div class="setting-container">
            <div class="upload-box">
                <form id="upload-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="model" id="model" accept=".h5,.hdf5,.hdf,.pth,.pt,.ckpt,.pkl">
                    <button type="submit">上传</button>
                </form>
            </div>
        </div>

        <h1 class="section-title">设置参数</h1>
        <div class="setting-container">
            <form action="/nlp_setting/" method="post">
                {% csrf_token %}
               
                    <div class="setting-box ">
                        <ul>
                            
                            <li>
                                <label for="dataset">数据集选择</label>
                                <select id="dataset" name="dataset">
                                    <option value="sst2">sst2</option>
                                    <option value="sst">sst</option>
                                    <option value="ag">ag</option>
                                </select>
                            </li>
                            <li>
                                <label for="model">模型结构</label>
                                <select id="model" name="model">
                                    <option value="bert">bert</option>
                                </select>
                            <li>
                                <label for="back">后门攻防鲁棒性测试方法</label>
                                <select id="back" name="back">
                                    <option value="lws">lws</option>
                                    <option value="hiddenkiller">hiddenkiller</option>
                                </select>
                            </li>
                            
                            <li>
                                <button type="button" id="setting-button">高级设置</button>
                                <button type="submit">确认参数</button>
                            </li>
                        </ul>
                    </div>
              
            
                    <div class="setting-box-2 hidden">
                        <ul>
                        
                                <p>evaluation_params</p>
                                <li>
                                    <label>optimizer</label><input type="text" name="optimizer" value="adam">
                                </li>
                                <li>
                                    <label>target_label</label><input type="text" name="target_label" value="1"></input>
                                </li>
                                <li>
                                    <label>poison_rate</label><input type="text" name="poison_rate" value="10"></input>
                                </li>
                                <li>
                                    <label>batch_size</label><input type="text" name="batch_size" value="64"></input>
                                </li>
                                <li>
                                    <label>device</label><input type="text" name="device" value="cuda"></input>
                                </li>
                                

                        </ul>
                    </div>
                    <div class="setting-box-2 hidden">
                        <ul>
                        
                            <li>
                                <label>epoch</label><input type="text" name="epoch" value="10"></input>
                            </li>
                            <li>
                                <label>warmup_epochs</label><input type="text" name="warmup_epochs" value="25"></input>
                            </li>
                            <li>
                                <label>lr</label><input type="text" name="lr" value="0.1"></input>
                            </li>
                            <li>
                                <label>weight_decay</label><input type="text" name="weight_decay" value="0"></input>
                            </li>
                                
                        </ul>
                    </div>
            </form>  
        </div>
        
    </section>




    <section class="report" id="report">
        <h1 class="section-title">结果总览</h1>
        <p> 当前状态：{{state|default:"未开始运行"}}</p>
        
        <div class="report-box">
            <h3>后门攻击成功率</h3>
            <div id="statistic-backdoor"></div>
            <p id="score">该项得分：{{score.total_scores|default:"未开始运行"}}</p>
        </div>
    
        <p id="evalResult" style="font-size: 2rem; text-align: center; margin-bottom:3rem"> 评估结果：综合得分 {{score.total_scores|default:"未开始运行"}}</p>
    </section>
    
    

    <script>
            // 首先，获取你想要添加点击事件的按钮
    var button = document.querySelector('button[id="setting-button"]');

    // 然后，获取你想要切换隐藏和显示的元素
    var settingBox2 = document.querySelectorAll('.setting-box-2');

    // 添加点击事件监听器
    button.addEventListener('click', function() {
        // 遍历所有的.setting-box-2元素
        settingBox2.forEach(function(box) {
            // 切换隐藏和显示
            box.classList.toggle('hidden');
        });
    });
    </script>
    <script>
        // 获取所有的section元素和侧边栏的链接元素
        const sections = document.querySelectorAll('section');
        const navLinks = document.querySelectorAll('.sidebar a');

        // 创建一个Intersection Observer
        const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
            // 当section元素进入视口时，找到对应的侧边栏链接
            const id = entry.target.getAttribute('id');
            const navLink = document.querySelector(`.sidebar a[href="#${id}"]`);
            // 添加一个类来改变侧边栏链接的显示
            navLink.classList.add('active');
            // 移除其他链接的active类
            navLinks.forEach((link) => {
                if (link !== navLink) {
                link.classList.remove('active');
                }
            });
            }
        });
        }, { threshold: 0.1 });  // 当section元素的10%进入视口时，触发回调函数

        // 使用Intersection Observer来观察所有的section元素
        sections.forEach((section) => {
        observer.observe(section);
        });
    </script>
    <!-- <footer>
        <p>&copy; 2020 All rights reserved</p>
    </footer> -->
    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault();
        
            var formData = new FormData();
            var fileField = document.querySelector("#model");
        
            formData.append('model', fileField.files[0]);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        
            fetch('/nlp_upload/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // 处理返回的数据
                console.log(data);
            })
            .catch(error => {
                // 处理错误
                console.error(error);
            });
        
        }, false);
        </script>

<script>
    let result_json='{{ score | safe }}';
    result=JSON.parse(result_json);


</script>
<script src="{% static 'js/report_nlp.js' %}"></script>
   

</html>

